body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
}

.header,
.hero,
.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    padding: 0 200px;
}

/* HEADER */
.header {
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.logo {
    font-size: 30px;
    font-weight: bold;
}

.header a {
    color: #E5E7EB;
    text-decoration: none;
}

.header ul {
    align-items: center;
    display: flex;
    list-style-type: none;
}

.header li {
    max-width: 8rem;
    padding-left: 24px;
}

/* HERO */

.hero {
    padding-top: 60px;
    padding-bottom: 85px;
}

.hero-head {
    color: #F9FaF8;
    font-size: 52px;
    font-weight: bolder;
}

.hero .subtext {
    font-size: 25px;
    color: #E5E7EB;
    padding: 10px 0;
}

.hero img {
    width: 140%;
    padding-left: 20px;
}

button {
    align-self: center;
    background-color: #3882F6;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 4px 15px;
    text-decoration: none;
}

/* INFO */

.info {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.info .head {
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
    padding: 60px;
    max-width: 600px;
    text-align: center;
}

.dorm {
    border-radius: 25px;
    border: 3px solid #3882F6;
    color: rgb(43, 43, 43);
    display: inline-block;
    font-size: 22px;
    margin: 0 10px 80px;
    max-width: 330px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}

.dorm:hover {
    text-decoration: underline;
}

.dorm img {
    height: 300px;
    justify-self: center;
}

/* QUOTE */

.quote-sect {
    align-items: center;
    background-color: #E5E7EB;
    color: #1F2937;
    display: flex;
    flex-direction: column;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    max-width: 940px;
    padding: 100px 500px 90px 500px;
}

.quoter
{
    align-self: flex-end;
    font-size: 27px;
    font-weight: bold;
    margin-top: 30px;
}

/* CALL TO ACTION */

.call {
    background-color: #3882F6;
    border-radius: 25px;
    color: white;
    display: flex;
    justify-content: space-between;
    margin: 100px 200px;
    padding: 50px 100px;
}

.call .main {
    font-size: 30px;
    font-weight: bold;
}

.call .subtext {
    font-size: 23px;
}

.call button {
    border: white solid 2px;
}

/* FOOTER */

.footer {
    justify-content: center;
    text-align: center;
    padding: 40px 10px;
}